* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: "Raleway", sans-serif;
  color: #eac372;
  font-size: 1.2rem;
}

/* Utilities */
h1,
h2,
h3,
h4 {
  font-family: "Limelight", cursive;
}

a {
  text-decoration: none;
  color: #eac372;
  font-family: "Poiret One", cursive;
}

h2 {
  margin: 20px 0;
}

h3 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

.section-title,
footer {
  color: #eac372;
}

.btn-custom {
  border: 1px solid #eac372;
}

.btn-custom:hover {
  background: #eac372;
  color: #000;
}

/* Navbar */
.navbar {
  background: #000;
}

#navLinks a {
  color: #eac372;
}

#navLinks a:hover {
  color: #ee9703;
}

#logo {
  font-family: "Limelight", cursive;
  color: #ee9703;
}

/* Header */
header {
  height: 80vh;
  background-image: url("../img/LANoire-main.jpg");
  background-position: center;
  background-size: cover;
}

.mainTitle {
  padding-top: 20%;
  letter-spacing: 1rem;
}

.title-primary {
  text-transform: uppercase;
}

/* About */
.about-paragraph p {
  font-size: 1.2rem;
}

.about-download .btn-outline {
  color: #eac372;
}

.about-contact:hover {
  text-decoration: none;
  color: #ffc009;
}

/* Personnages */
.card-body-char {
  background: #000;
  height: 300px;
  padding: 20px;
}

/* Dossiers */
.dos-img {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  background: #000;
  height: 500px;
}

.card-text {
  font-size: 1rem;
}

.mission-list {
  margin-left: 20px;
}

/* Skills */
.background-logo {
  background: #5f2d04;
}

.skill-logo {
  height: 80px;
  width: 80%;
  max-width: 100px;
  object-fit: fill;
}

.footnote {
  display: inline-block;
  font-size: 0.8rem;
}

.footnote a {
  text-decoration: none;
}

.footnote a:hover {
  color: #ee9703;
}

@media (max-width: 576px) {
  .mainTitle {
    padding-top: 50%;
  }

  .skill-logo {
    object-fit: fill;
    padding: 2%;
  }
}

@media (max-width: 437px) {
  h1 {
    font-size: 1.8rem;
  }
}
