*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: "Raleway", sans-serif;
  color: #eac372;
  font-size: 1.2rem;
}

/* Utilities */
h1,
h2,
h3,
h4 {
  font-family: "Limelight", cursive;
}

a {
  text-decoration: none;
  color: #eac372;
  font-family: "Poiret One", cursive;
}

h2 {
  margin: 20px 0;
}

h3 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

.background-brown {
  background: #5f2d04;
  width: 100%;
}

/* Card format */
.card-body {
  background: #000;
  height: 500px;
}

.card-text {
  font-size: 1rem;
}

/* Navbar */
.navbar {
  background: #000;
}

#navLinks a {
  color: #eac372;
}

#navLinks a:hover {
  color: #ee9703;
}

#logo {
  font-family: "Limelight", cursive;
  color: #ee9703;
  text-decoration: none;
}

/* Header */
.img-container {
  min-height: 80vh;
  background-image: url("../img/LANoire-main.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Personnages */
.card-body-char {
  background: #000;
  height: 350px;
  padding: 20px;
}

/* Dossiers */
.dos-img {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

.mission-list {
  margin-left: 20px;
}

/* Music */
.music-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */
.footnote {
  font-size: 0.8rem;
}

.footnote a {
  text-decoration: none;
}

.footnote a:hover {
  color: #ee9703;
}

@media (max-width: 576px) {
  .img-container {
    min-height: 20vh;
  }

  .console-logo {
    object-fit: fill;
    padding: 2%;
  }
}

@media (max-width: 768px) {
  .img-container {
    min-height: 30vh;
  }